* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: #0e1428;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Righteous', cursive;
}

#mePic {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
  width: 200px;
  border: 4px solid #78cdd7;
  border-radius: 50%;
  filter: grayscale(50%);
  z-index: 1;
  background-color: #475b63;
}

.frames {
  width: 50%;
  height: 50%;
  position: relative;
  cursor: pointer;
  transition: all 1s ease;
}

.framesText {
  position: absolute;
  font-size: 30px;
  width: 200px;
  color: #78cdd7;
  text-align: center;
  padding: 10px;
  transition: all 1.5s;
}

.framesTextUpLeft {
  left: 50%;
  margin-left: -100px;
  top: 50%;
}

.framesTextUpRight {
  right: 50%;
  margin-right: -100px;
  top: 50%;
}

.framesTextDownLeft {
  left: 50%;
  margin-left: -100px;
  bottom: 50%;
}

.framesTextDownRight {
  right: 50%;
  margin-right: -100px;
  bottom: 50%;
}

.framesText0Move {
  top: 0;
  left: 0;
  margin-left: 0px;
}
.framesText1Move {
  margin-right: 0px;
  top: 0;
  right: 0;
}
.framesText2Move {
  left: 0;
  margin-left: 0px;
  bottom: 0;
}

.framesText3Move {
  right: 0;
  margin-right: 0px;
  bottom: 0;
}

.frames:hover {
  border: 1px solid #475b63;
}

.framesClicked0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.framesClicked1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.framesClicked2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.framesClicked3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.backBtn {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  z-index: 99;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
